body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f7f6;
}

.container {
    background: white;
    padding: 2rem;

    width: 350px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;

}

button:hover {
    background-color: #0a3056;
}

#notificacion {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.notificacion {
    padding: 15px 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  
}

.success { background-color: #27ae60; } 
.error { background-color: #e74c3c; }   

