.sect-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.form-auth {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}